<div class="code_block">
var jedi = {
      "name": "Luke Skywalker",
      "height": "1.72 m",
      "mass": "77 Kg",
      "hair_color": "Blond",
      "skin_color": "Caucasian",
      "eye_color": "Blue",
      "birth_year": "19 BBY",
  "films": [
          "A New Hope",
          "Empire Strikes Back",
          "Return of the Jedi"
      ],

}
</div>

<p>A javascript object can also contain an array. You can access those elements like this:</p>

<div class="code_block">
console.log(jedi["films"][3]); // writes "Return of the Jedi"
</div>