<p>Write a javascript object called Netflix. It should have a current_show property, a change_channel method that accepts the name of a new show to play, and a whats_playing method which writes the name of what's currently playing to the console. Show that these methods all work.</p>

