<h4>GET requests</h4>

<p>Every time you type a URL like www.google.com into your web browser, you are performing a GET request asking a certain web page to provide you with a response. </p>

<p>An API, or application programming interface, allows you to incorporate outside resources into your program. </p>

<p>Another kind of HTTP request is a POST request. Every time you leave a comment on Facebook, you are sending a POST request that contains a text string.</p>