<p>Javascript Object Notation, or JSON, is extremely important on the internet today. Lots of data in web apps and APIs is sent as JSON.</p>

<p>For example, Amazon Web Services S3 uses JSON to determine access control to files.</p>

<p>It’s easier to learn about constructors and extending an object in Ruby than in javascript, so we will cover that in the next section.</p>