<p>Write a function called OldEnoughToSmoke that prints "true" if the age parameter is above 18 and "false" if isn’t.</p>

<p>Write a function called Workday which takes a string parameter. It should print "Time for work!" if it’s monday, tuesday, wednesday, thursday, or friday. If the parameter is saturday or sunday, print "It’s the weekend!"</p>

<p>hint: use the OR operator: ||</p>
<p>example:</p>

<div class="code_block">
if(weekday == "Monday" || weekday == "Tuesday")
</div>
<%= render "answer_box" %>