<p>Functions can also take a "parameter".</p>
<p>This is a value given to the function from outside the function.</p>

<div class="code_block">
function PrintName(name)
{
console.log(name);
}
PrintName("Brother") // prints Brother
PrintName("Sister") // prints Sister
PrintName("Friend") // prints Friend
</div>