<p>= is used to assign variables. == evaluates to true if the numbers are equal:</p>
<div class="code_block">
if(5 == 5)
{
console.log(“5 equals 5!”); // prints 5 equals 5!
}
</div>

<%= render "answer_box" %>