<p>You’re throwing a party, but Bobby and Jessica are not invited. Write a function InvitedToParty, which prints true for every name but Bobby or Jessica.</p>

<p>Remember, for a string, wrap it in quotes "Bobby" "Jessica"</p>
<div class="code_block">
function InvitationList(name){
	
}
</div>
<%= render "answer_box" %>