<p>Basics of Javascript</p>

<div class="code_block">
Console.log() prints to the console.

console.log(1);  // prints 1 to the console

console.log(“hello”);  // prints hello to the console

variables can hold a value - 
either a string, IE a sequence of letters, 
or an integer

var a = 2;

var b = “hello”;

console.log(a) // prints 2

console.log(b) // prints hello
</div>