<h4>FOR LOOP</h4>

<p>There are many times when you need to run a block of code multiple times.</p>

<p>This is called "iterating." The letter "i" stands for iterator. </p>

<div class="code_block">
for(var i = 0; i < 3;i++)
{
console.log(i);  // prints 0, 1, 2 3
}
</div>
<strong>var i = 0; </strong>
<p>sets the variable i to 0.</p>

<strong>i < 3</strong>
<p>The code block will continue running until this condition becomes untrue</p>

<strong>i++</strong>
<p>This means that i will be increased by 1 each time after the loop has run. </p>
<p>This is just a shorthand for i+1</p>

<p>This can also be something else, like i-2 would subtract 2 from i every time the loop is run. i-- subtract 1 from i each time the loop is run</p>
<div class="code_block">
for(var i = 3; i > 0;i-1)
{
console.log(i);  // prints 3, 2, 1, 0
}
</div>