<p>Create a simple RPG/pokemon type game. Monsters will appear, and you will click “fight” them to lower their hit points. Have “gold” or something else to keep track of points. </p>

<p>The page should look like this:</p>
<p>Monster HP: 100</p>
<p>You: HP: 100</p>
<p>Gold: 0</p>
<button>fight</button>

<p>This is a bare minimum. Have monsters appear and have their HP go down randomly when you click “fight”. When you beat the monster, give the player some gold.</p>

<p>If you want, you can add other features like different attacks, items, etc. This can all be done with simple javascript, and you can use JQuery events to let the user interact with the game.</p>