<p>To use JQuery, you will have to include the library on your page. You can either download JQuery and include the script locally, or you can just download it from google’s content delivery network by just including the following somewhere on your HTML page:</p>

<div class="code_block">

<%= 'script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>' %>
</div>