<p>As you can see, JQuery is a powerful and easy way to dynamically edit the contents of a web page.</p>
<p>For a long time, JQuery was THE way to create a dynamic web page. It's still widely used, but people tend to use more sophisticated javacsript libraries like Angular or React.</p>
<p>That doesn't mean you shouldn't learn it though - the principles you'll learn by getting used to JQuery can be applied across lots of different libraries, and a lot of the internet still uses just JQuery. It's also a required dependency for lots of front-end libraries like Bootstrap and Materialize.</p>