<p>Create a small JQuery program with show and hide buttons that show or hide an image.</p>

<div class="hint" <% if @show_answer %>style="visibility:visible;"<% end %> >

Try using .css and the visbility:visible; and visibility:hidden; styles

</div>