<p>Make a single text input field. When the user clicks an “add another name” button, create another text input field with a maximum of 5 names.</p>
<p>When submit is clicked, write a numbered list of the names somewhere on the page.</p>