<p>Create a simple form with the following fields: name, age and hobby.</p>
<p>When the user clicks a submit button, write a string to the page like this:</p>
<p><b>Jane</b> is <b>21</b> years old and her hobby is <b>3D printing</b></p>
