<p>To use JQuery, you will have to include the library on your page. You can either download JQuery and include the script locally, or you can just download it from google’s content delivery network by just including the following somewhere on your HTML page:</p>

<div class="code_block">

<%= 'script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>' %>
</div>

<p>Remember, any problem you might with JQuery has probably been solved before - just GOOGLE for something like "how do I get the value of a text input form in JQuery"</p>
<p>You just need to know how to find and use pieces of code to accomplish your goal. You don't have to memorize a bunch of stuff.</p>
<p>The browser console often shows useful errors as well.</p>
<p>Try building one single part of your programs at a time - then, when you have tested it and make sure that piece works, move on to the next operation you need.</p>