
<a class="waves-effect waves-light btn red" href="/question/<%= @question_id.to_i - 1 %>">Back</a>
<a class="waves-effect waves-light btn red" href="/question/<%= @question_id.to_i + 1 %>">Forward</a>

<p>If you have any questions or concerns, drop me a a line at team@getintotech.us </p>
<p>If you have any ideas for contributing to this course, just send me your github profile and you can start submitting some pull requests!</p>