
<a class="waves-effect waves-light btn red" href="/question/<%= @question_id.to_i - 1 %>">Back</a>
<a class="waves-effect waves-light btn red" href="/question/<%= @question_id.to_i + 1 %>">Forward</a>