<p>To combine a string with a variable, do it like this:</p>

<div class="code_block">
var population_string = year + “ population: “ + population;
</div>

<div class="code_block">
Remember to declare variables with var when you first initialize them 
- but you don’t need to include var after that.
</div>

<p>
The population of the State of Washington is 7 million. Assuming a growth rate of 2 percent, print the population and year for the next 50 years. Output should look something like this:
</p>

<p>2017 population:</p>
<p>7 million</p>

<p>2018 population:</p>
7.02 million

<%= render "answer_box" %>