function OldEnoughToDrive(age)
{
	if(age > 18)
	{
	console.log(“true”);
	}
	else
	{
	console.log(“false”);
	}
}
OldEnoughtoDrive(11);
OldEnoughtoDrive(21);
OldEnoughtoDrive(80);

What will this print?

<div class="hint">
The function OldEnoughToDrive is invoked three times with different parameters. 
It looks like the function prints "true" if the parameter is greater than 18
and "false" if it's less than 18
</div>

<div class="answer">
"false", "true", "true"
</div>

<%= render "answer_box" %>