<p>Hey everyone,</p>

<p>I’m really excited about how many of you showed an interest in getting better at coding together.</p>

<p>I’ve created a platform with some basic Javascript coding exercises on it. </p>

<p>If you find this stuff too easy, just let me know and I'll ping you when I have some more interesting stuff available.</p>

<p>I'll personally review the work you do on this site and give you tips </p>

<h5>Course outline:</h5>

<ol>
<li>Basic coding with javascript</li>
<li>Basic data structures and algorithms</li>
<li>Games with javascript</li>
<li>JQuery</li>
<li>Server-side programming languages with Ruby, .erb and Sinatra</li>
<li>SQL tutorial with MYSQL Workbench</li>
<li>MVC frameworks with Ruby on Rails</li>
<li>Cloning popular sites with Ruby on Rails</li>
</ol>
