<p>Write a function called OldEnoughToSmoke that prints “true” if the age parameter is above 18 and “false” if isn’t.</p>
<p>Declare a function like this:</p>
<div class="code_block">
function OldEnoughToSmoke(){
	
}
</div>

<%= render "answer_box" %>