<p>Each value in the array has an INDEX. This is like the address of the value in the array. Arrays are also ZERO-INDEXED, meaning they start at 0.</p>

<p>To access the values in the array:</p>

<div class="code_block">
console.log(array[0]); // prints cat
console.log(array[1]); // prints dog
console.log(array[2]); // prints 1
console.log(array[3]); // prints mouse
</div>
