for(var iterator = -10; iterator < 0; iterator++)
{
	console.log(iterator);
}

What will this print?

<div class="hint">
iterator starts off set to -10, and will increase by one each time the loop is run. 
It will run until i < 0 is false
</div>

<div class="answer">
-10, -9, -8, -7, -6, -5, -4, -3, -2, -1
</div>

<%= render "answer_box" %>