<p>A function is a way to give a name to a block of code, so that you can “call”, i.e. run it whenever you want. For example:</p>

<div class="code_block">
function printHello() {
  console.log(“hello”);
}
// call the function!
printHello(); // prints hello
printHello(); // prints hello
printHello(); // prints hello
</div>
