<div class="code_block">
for(var i = 0; i < 4; i++)
{
	var product = i * 2;
	console.log(product);
}
</div>

<strong>What will this print?</strong>

<div class="hint">
iterator starts off set to 0, and will increase by one each time the loop is run. 
It will run until i < 4 is false
It looks like it will print twice the value of i
</div>

<div class="answer">
0, 2, 4, 6
</div>

<%= render "answer_box" %>