<div class="code_block">
for(var i = 0; i < 3; i++)
{
console.log(i + 10);
}
</div>

<strong>What will this print?</strong>

<div class="hint" <% if @show_answer %>style="visibility:visible;"<% end %> >
i starts off set to 0, and will increase by one each time the loop is run. 
It will run until i < 3 is false, so that means 
at i = 3
3 < 3 = FALSE
It will stop running at 3
</div>

<div class="answer" <% if @show_answer %>style="visibility:visible;"<% end %> >
0,1,2
</div>

<%= render "answer_box" %>