<p>This unit will cover:</p>

<ol>
<li>logic gates</li>
<li>for loops</li> 
<li>basic data structures</li>
<li>sorting algorithms in javascript</li>
</ol>

<p>Javascript is one of the biggest coding languages there is. It’s a client-side language, so it’s built into every web browser. With the advent of Node.js and sophisticated front-end frameworks built on javascript like React and Angular, it’s always useful to get a firm grip on plain javascript.</p>

<p>The problem-solving skills that you’ll learn by going through this course will also get you ready for your first whiteboarding interviews. That's where your interviewer asks you a question about coding, and you're supposed to write code on a whiteboard that solves the problem. Everyone from 0-10 years experiences hates those kinds of interviews, but they still do them all the time anyway, so keep that in mind as you start working on the following questions.</p>