<div class="code_block">
a = 2;

for(var i = 0; i < 3; i++)
{
console.log(i + a);
}
</div>
<p>What will this print?</p>

<div class="hint">
i starts off set to 0, and will increase by one each time the loop is run. 
It will run until i < 3 is false
a is initialized to 2, so each time the loop runs it will print the 2+i
</div>

<div class="answer">
2,3,4
</div>

<%= render "answer_box" %>