<p>A class can be applied to multiple elements, rather than just one like an ID.</p>
<p>You can put them on any tag:</p>
<div class="code_block">
<%= "<div class="classy_class"></div>" %>
<%= "<div class="classy_class"></div>" %>
<%= "<div class="classy_class"></div>" %>
</div>