<p>There are three kinds of block elements in CSS - Inline, Inline-Block, and Block.</p>
<p>This link explains it better than I could.</p>

http://stackoverflow.com/questions/9189810/css-display-inline-vs-inline-block

<h5>Using inline block elements, make an HTML page with boxes that get bigger from left to right in the color of the rainbow.</strong></h5>
<p>Here are some CSS properties you could use to get started- it might be possible to do this some other way though, who knows!</p>
<div class="code_block">
#red-box{
display: inline-block;
height: 100px;
width: 200px;
background-color: red;
}
<%= '<div id="red-box"></div>' %>
</div>

<p>Colors can be chosen either through strings like 'red', or 'blue' or hexadecimal color codes. </p>
