<p>There's more depth to CSS, of course. But for now I don't think you need to know more than how to use ID's and classes to select elements, and apply styles to elements</p>

<p>Let's move on to JQuery</p>