<p>An ID applies to a single element on an HTML page.</p>
<p>You can put them on any tag:</p>
<div class="code_block">
<%= "<h1 id='identified_header'>Header</h1>" %>
</div>

<p>You can use id and class to identify and select html elements.</p>

<p>div is a very common HTML tag to apply styling and divide up a page</p>

<div class="code_block">
<%= "<div id='my_favorite_div'>" %>
blah blah blah
<%= "</div>" %>
</div>