<p>Based off of what you know about for loops, can you write some code that out how to print out the values of an array parameter in reverse?</p>

<div class="code_block">
var example_array = [5,5,3,5,6];
function PrintInReverse(array)
{
	
}

</div>