<p>Given two arrays, add the shorter array to the end of the longer array and console.log the result</p>

<div class="code_block">
remember array.length gives you the length of the array

function combineTwoArrays(array_1, array_2)
{

}
</div>