<h3>Data Structures</h3>

<p>So, how did you do with the first chapter of this little coding bootcamp? Getting a handle on logic gates?</p>

<p>Everyone struggles with this sort of stuff at first. But if you can get good at it, it’s really going to set you apart and help you to start your career. You’ll be practicing it every day, too.</p>

<h4>The Array</h4>

<p>Most of what a web developer does is moving data around and performing calculations on it. That data needs to be organized in DATA STRUCTURES. We’re going to learn about a simple data structure now.</p>

<p>An array is a sequence of data stored in one variable. In every language I know of, the syntax for an array is values separated by commas within brackets.</p>

<div class="code_block">
var array = [1,2,3];
</div>

<p>Arrays can have any data type:</p>

<div class="code_block">
var array = ["cat", "dog", 1, "mouse"];
</div>