<p>It’s very useful to ITERATE over the values in an array in order to access each of the values in turn.</p>

<div class="code_block">
for(var i=0; i<array.length;i++)
{
console.log(array[i]);
}
</div>

<p>This for loop will print each value in the array, like this:</p>
<ol>
<li>cat</li>
<li>mouse</li>
<li>4</li>
<li>6</li>
<li>7</li>
</ol>